h1 { color: white }

header {
	background: black;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
    display: flex;
	justify-content: center;
    align-items: center;
}

.container {
	max-width: $content-width;
}
